/* history.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Default font */
}

.login-link {
  color: green;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.history-header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.font1 {
  font-family: 'Arial', sans-serif;
  /* Additional styles for font1 as needed */
}

.font2 {
  font-family: 'Times New Roman', serif;
  /* Additional styles for font2 as needed */
}

.font3 {
  font-family: 'Verdana', sans-serif;
  /* Additional styles for font3 as needed */
}

.font4 {
  font-family: 'Courier New', monospace;
  /* Additional styles for font4 as needed */
}

.font5 {
  font-family: 'Georgia', serif;
  /* Additional styles for font5 as needed */
}

.history-card {
  max-height: 75vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  width: 50%;
  /* Additional styles for history-card as needed */
}

.history-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.history-item:hover {
  background-color: #f9f9f9;
}

.date-time {
  color: #aaa;
  /* Additional styles for date-time as needed */
}

.history-detail {
  margin-top: 20px;
  /* Additional styles for history-detail as needed */
}
